[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
aioredis = "*"
environs = "*"
lxml = "*"
beautifulsoup4 = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
aiohttp = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
